.col-md-6
{
   border: 0px solid black;
}

#is_already_registered {
   display: none;
}

#is_now_registered {
   display: none;
}

#studentnumber_error {
   display: none;
}

#id_error {
   display: none;
}